*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  cursor: pointer;
}
body{
  background: #030303;
}
* a{
  color: #ffffff;
  font-weight: bold;
}
